/*Styles Reset*/
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;

}
a:focus {
  box-shadow: none;
  border: none;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*variables*/
:root {
  --brand-color: #4d5ae5;
  --pressed-color: #404bbf;
  --main-color: #2e2f42;
  --success-color: #31d0aa;
  --body-text-color: #434455;
  --light-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-background-color: #f4f4fd;
  --modal-color: #2e2f42;
  --hero-background: #2e2f42;
  --white-color: #ffffff;
  --modal-background-color: #fcfcfc;
  --hero-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*Header*/
.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
}
.logo {
  margin-right: 76px;
  color: var(--main-color, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  align-content: center;
}
.logo-part {
  color: var(--brand-color);
}
.nav-item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 40px;
}
.nav-item {
  color: var(--main-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  padding: 24px 0 24px 0;
}
.contact-item {
  padding: 24px 0 24px 0;
}
.nav-item:hover,
.nav-item:focus {
  color: var(--brand-color);
}
.nav-data {
  color: var(--body-text-color, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}
.nav-data:hover,
.nav-data:focus {
  color: var(--pressed-color);
}
.contact-list {
  display: flex;
}
.nav-link {
  position: relative;
  display: inline-block;
  overflow: visible;
  color: var(--body-text-color);
}
.nav-link::after{
    position: absolute;
    content: "";
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-color);
    transform: translateY(4px);
    transition: transform 300ms linear;
    display: none;
    /*transform: scaleX(0);*/
  }
.nav-link:hover::after,
.nav-link:focus::after {
  /*transform: scaleX(1);*/
  display: block;
}
.nav-link:hover,
.nav-link:focus,
.nav-item.current .nav-link{
  color: var(--pressed-color);
}
.nav-item.current .nav-link::after {
  display: block;
}
/*Global Styles*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
}
h2 {
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
h3 {
  color: var(--main-color);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}
p {
  color: var(--body-text-color);
}
/*Hero Section*/
.hero-section {
  background-color: var(--hero-background);
  background-image: var(--hero-gradient), url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: auto;
  background-size: 1440px auto;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
}
.main-title {
  color: var(--white-color, #ffffff);
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
}
.button {
  background-color: var(--brand-color);
  color: var(--white-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button:hover,
.button:focus {
  background-color: var(--pressed-color);
}
/*Section 2 Features*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.features-section {
  padding: 120px 0 120px 0;
}
.features-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.item-header {
  margin-bottom: 8px;
}
.vector-box {
  border-radius: 4px;
  background: var(--CLOUD, #f4f4fd);
  display: flex;
  justify-content: center;
  padding: 24px 0;
  margin-bottom: 8px;
}
/* Section 3 What are we doing*/
.what-header {
  margin-bottom: 72px;
}
.what-section {
  padding-bottom: 120px;
}
.what-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

/*Section 4 Our Team*/
.team-section {
  background: var(--light-background-color, #f4f4fd);
  padding: 120px 0 120px 0;
}
.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.team-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white-color, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.item-box {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.team-header {
  margin-bottom: 72px;
}
.item-header {
  margin-bottom: 8px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 50%;
  fill: var(--white-color);
}
.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-soc-link:is(:hover, :focus) {
  background-color: var(--pressed-color);
  border-radius: 50%;
}
.team-text {
  margin-bottom: 8px;
}
/*Customers Section*/
.customers-section {
  padding: 120px 0 120px;
}
.customers-title {
  margin-bottom: 72px;
}
.customers-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}
.customer-item {
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--light-color, #8e8f99);
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer-item:hover,
.customer-item:focus {
  border-color: var(--pressed-color);
}

.customer-item:hover .customers-icon,
.customer-item:focus .customers-icon {
  fill: var(--pressed-color);
}
.customers-icon {
  fill: var(--light-color);
}
/*Portfolio*/
.portfolio-button {
  color: var(--brand-color);
  background-color: var(--light-background-color);
}
.portfolio-button:focus,
.portfolio-button:hover {
  background-color: var(--pressed-color);
  color: var(--white-color);
}
.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.filter-button {
  padding: 12px 24px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--CLOUD, #f4f4fd);
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
}
.filter-button:hover {
  border-radius: 4px;
  color: var(--white-color);
  border: 1px transparent;
  background: var(--pressed-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.filter-container {
  padding-top: 100px;
  padding-bottom: 72px;
}
.portfolio-section {
  margin-bottom: 120px;
}
.portfolio-list {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 48px 24px;
  overflow: hidden;
}
.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-cover-text {
  position: absolute;
  top: 0;
  padding: 40px 32px 0 32px;
  color: var(--white-color);
  background-color: var(--brand-color);
  height: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
}
.portfolio-item {
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border: 1px solid;
  border-color: var(--accent-color);
  flex-basis: calc((100% - 48px) / 3);
  min-height: 360px;
}
.item-content {
  padding-left: 16px;
  padding-right: 16px;
}
.portfolio-item:hover,
:focus {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
/*Footer*/
footer {
  background-color: var(--main-color);
  color: var(--white-color);
}
.logo-footer {
  color: var(--white-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 18px;
  display: inline-block;
}
.footer-text {
  color: var(--light-background-color);
  max-width: 264px;
line-height: 150%;
letter-spacing: 0.32px;
}
.footer-container {
  display: flex;
  align-items: baseline;
  gap: 90px;
}
.footer-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer b {
  display: inline-block;
  font-weight: 500;
  color: var(--white-color);
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.subscribe-icon {
  fill: var(--white-color);
}
.subscribe-button {
display: inline-flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 4px;
border: none;
background-color: var(--brand-color);
color: var(--WHITE, #FFF);
text-align: center;
font-weight: 500;
letter-spacing: 0.64px;
}
.email-input {
  background-color: transparent;
  min-width: 264px;
height: 40px;
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-left: 16px;
}
.email-input:focus, 
.email-input:hover {
  border-color: var(--brand-color);
  outline: var(--pressed-color);
  color: white;
}
.email-input::placeholder {
  color: white;
  font-size: 12px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.48px;
}
.subscribe-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
/*Modal Window*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  transition: visibility 500ms linear, opacity 300ms linear;
}
.backdrop.is-hidden .modal{
  transform: translate(-500%, -50%);
}
.modal {
  position: absolute;
  padding: 72px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 500ms linear;
  width: 408px;
min-height: 584px;
flex-shrink: 0;
border-radius: 4px;
background: var(--modal-background-color);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}
.modal-close {
width: 24px;
height: 23px;
border: 1px solid rgba(0, 0, 0, 0.10);
border-radius: 50%;
position: absolute;
top: 24px;
right: 24px;
background-color: var(--accent-color);
}
.modal-close-icon {
  fill: var(--main-color);
}
.modal-close:hover,
.modal-close:focus {
  background-color: var(--pressed-color);
}
.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--white-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
color: var(--main-color);
text-align: center;
font-weight: 500;
margin-bottom: 16px;
}
.modal-input {
  min-width: 360px;
  height: 40px;
  border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.40);
background-color: transparent;
outline: transparent;
padding-left: 38px;
font-size: 12px;
letter-spacing: 0.48px;
}
.modal-input:focus {
  border: 1px solid var(--brand-color);
}
.modal-input:focus + .modal-icon {
fill: var(--brand-color);
}
.submit-button{
padding: 16px 32px;
border-radius: 4px;
border: 1px transparent;
background-color: var(--brand-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: var(--white-color);
min-width: 169px;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.64px;
line-height: 150%;
cursor: pointer;
display: block;
margin: 0 auto;
}
.submit-button:hover,
.submit-button:focus {
  background-color: var(--pressed-color);
}
.modal-comment::placeholder {
color: (46, 47, 66, 0.40);
font-size: 12px;
letter-spacing: 0.48px;
}
.modal-comment {
  min-width: 360px;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.40);
background-color: transparent;
outline: transparent;
font-size: 12px;
letter-spacing: 0.48px;
resize: none;
}
.modal-comment:focus {
  border: 1px solid var(--brand-color);
}
.label-text {
  color: var(--light-color);
font-size: 12px;
letter-spacing: 0.48px;
display: inline-block;
margin-bottom: 4px;
}
.modal-icon {
  color: var(--main-color);
  position: absolute;
  transform: translateY(-50%);
  left: 16px;
  top: 50%;
}
.input-wrap {
  position: relative;
}
.modal-label {
  position: relative;
  margin-bottom: 4px;
}
.modal-field {
  margin-bottom: 8px;
}
.check-text {
  font-size: 12px;
  letter-spacing: 0.48px;
  color: var(--light-color);
  display: flex;
  align-items: center;
 margin-bottom: 24px;
}
.check-text::before{
  content: '';
  border: 1px solid rgba(46, 47, 66, 0.40);
  width: 16px;
height: 16px;
border-radius: 2px;
margin-right: 8px;
}
.input-check:checked + .check-text::before{
  background-color: var(--pressed-color);
  border: none ;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.input-check:hover + .check-text::before{
  border-color: var(--pressed-color);
  transition: var(--transition);
}
.policy-text {
text-decoration-line: underline;
color: var(--brand-color);
text-decoration-skip-ink: none;
}
