/*Styles Reset*/
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:focus {
  box-shadow: none;
  border: none;
}
.container {
  width: 100%;
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
/*variables*/
:root {
  --brand-color: #4d5ae5;
  --pressed-color: #404bbf;
  --main-color: #2e2f42;
  --success-color: #31d0aa;
  --body-text-color: #434455;
  --light-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-background-color: #f4f4fd;
  --modal-color: #2e2f42;
  --hero-background: #2e2f42;
  --white-color: #ffffff;
  --modal-background-color: #fcfcfc;
  --hero-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
/*Header*/
.header {
  border-bottom: 1px solid var(--accent-color, #e7e9fc);
  background: var(--white-color, #fff);
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  margin-right: 76px;
  color: var(--main-color, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  align-content: center;
}

.logo-part {
  color: var(--brand-color);
}

.nav-list,
.contact-list {
  display: none;
}

.burger-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 22px;
}

.burger-icon {
  display: block;
  stroke: var(--main-color);
}

/*Menu*/
.mob-close {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: var(--accent-color);
  font-size: 0px;
}

.mob-close-icon {
  fill: var(--main-color);
}

.mob-close:hover,
.mob-close:focus {
  background-color: var(--pressed-color);
}

.mob-close:hover .mob-close-icon,
.mob-close:focus .mob-close-icon {
  fill: var(--white-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: var(--white-color);
}

.mob-nav-item {
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
}

.mob-nav-link {
  color: var(--main-color);
}

.mob-nav-link:hover,
.mob-nav-link:focus,
.mob-nav-item.current .mob-nav-link {
  color: var(--pressed-color);
}

.mob-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-nav-list {
  margin-bottom: 40px;
}

.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.mob-container {
  padding: 80px 40px 40px;
}

.mob-contact-item {
  display: block;
  margin-bottom: 40px;
}

.mob-nav-tel {
  color: var(--brand-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mob-nav-mail {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.mob-soc-list {
  display: flex;
  justify-content: space-between;
  max-width: 328px;
}

.mob-soc-item {
  width: 40px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 50%;
  fill: var(--white-color);
}

.mob-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-soc-link:is(:hover, :focus) {
  background-color: var(--pressed-color);
  border-radius: 50%;
}

.no-scroll {
  overflow: hidden;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav-list {
    display: flex;
  }
  .nav-data {
    font-size: 12px;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .burger-button {
    display: none;
  }
  .nav-item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 40px;
}

.nav-item {
  color: var(--main-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  padding: 24px 0 24px 0;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--brand-color);
}

.nav-link {
  position: relative;
  display: inline-block;
  overflow: visible;
  color: var(--body-text-color);
}

.nav-link::after {
  position: absolute;
  content: '';
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-color);
  transform: translateY(4px);
  transition: transform 300ms linear;
  display: none;
}

.nav-link:hover::after,
.nav-link:focus::after {
  display: block;
}

.nav-link:hover,
.nav-link:focus,
.nav-item.current .nav-link {
  color: var(--pressed-color);
}

.nav-item.current .nav-link::after {
  display: block;
}

.nav-data {
  color: var(--body-text-color, #434455);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.nav-data:hover,
.nav-data:focus {
  color: var(--pressed-color);
}
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .nav-data {
    font-size: 16px;
  }
  .contact-list {
    flex-direction: row;
    gap: 40px;
  }
  .contact-item {
    padding: 24px 0 24px 0;
  }
}
/*Global Styles*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
}
h2 {
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
h3 {
  color: var(--main-color);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}
p {
  color: var(--body-text-color);
}
.container {
  width: 100%;
  max-width: 396px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 736px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1126px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}
/*Hero Section*/
.hero-section {
  text-align: center;
  width: auto;
  height: 432px;
  background-color: var(--hero-background);
  background-image: var(--hero-gradient), url(../images/mob_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 112px 0;
}

.main-title {
  color: var(--white-color, #ffffff);
  font-weight: 700;
  font-size: 36px;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.button {
  background-color: var(--brand-color);
  color: var(--white-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background-color: var(--pressed-color);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: var(--hero-gradient), url(../images/mob_bg_2x.jpg);
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero-section {
    background-image: var(--hero-gradient), url(../images/tablet_bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: var(--hero-gradient), url(../images/tablet_bg_2x.jpg);
    }
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .hero-section {
    background-image: var(--hero-gradient), url(../images/hero_bg.jpg);
    background-size: 1440px auto;
    height: 600px;
    padding: 188px 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: var(--hero-gradient), url(../images/hero_bg_2x.jpg);
    }
  }

  .main-title {
    font-size: 56px;
    line-height: 107.143%;
    letter-spacing: 1.12px;
    margin-bottom: 48px;
  }
}
/*Section 2 Features*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.features-section {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
}

.features-item {
  width: 100%;
}

.vector-box {
  display: none;
}

.item-header {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.item-paragraph {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
}

/* Mobile */
@media screen and (min-width: 428px) {
  .features-list {
    gap: 24px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .features-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .features-item {
    width: calc(50% - 12px);
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .features-section {
    padding: 120px 0;
  }

  .features-list {
    flex-wrap: nowrap;
  }

  .features-item {
    width: auto;
  }

  .vector-box {
    display: flex;
    border-radius: 4px;
    background: var(--CLOUD, #f4f4fd);
    justify-content: center;
    padding: 24px 0;
    margin-bottom: 8px;
  }

  .item-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
  }
}
/* Section 3 What are we doing*/
.what-section {
  display: none;
}
/*Desktop*/
@media screen and (min-width: 1158px) {
  .what-header {
    margin-bottom: 72px;
  }
  .what-section {
    display: block;
    padding-bottom: 120px;
  }
  .what-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
}
/*Section 4 Our Team*/
.team-section {
  background: var(--light-background-color, #f4f4fd);
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white-color, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.item-box {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.our-team {
  margin-bottom: 72px;
}

.team-header {
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 50%;
  fill: var(--white-color);
}

.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--pressed-color);
  border-radius: 50%;
}

.team-text {
  margin-bottom: 8px;
}

/* Mobile */
@media screen and (min-width: 428px) {
}

/* Tablet */
@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
  .team-list {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
/*Customers Section*/
.customers-section {
  padding: 96px 0;
}

.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.customer-item {
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--light-color, #8e8f99);
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-item:hover,
.customer-item:focus {
  border-color: var(--pressed-color);
}

.customer-item:hover .customers-icon,
.customer-item:focus .customers-icon {
  fill: var(--pressed-color);
}

.customers-icon {
  fill: var(--light-color);
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .customers-section {
    padding: 120px 0;
  }

  .customers-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 72px 16px;
  }
}
/*Portfolio*/
.portfolio-section {
  margin-bottom: 96px;
}

.filter-container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 8px;
  justify-content: flex-start;
}

.filter-button {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  background: var(--light-background-color);
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: 250ms var(--transition-easing),
    color 250ms var(--transition-easing), border 250ms var(--transition-easing),
    box-shadow 250ms var(--transition-easing);
}

.filter-button:hover,
.filter-button:focus {
  background: var(--pressed-color);
  color: var(--white-color);
  border: 1px solid var(--pressed-color);
  box-shadow: var(--shadow);
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.portfolio-item {
  width: 288px;
  border: 1px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: box-shadow 250ms var(--transition);
  width: 100%;
  max-width: 396px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: var(--shadow);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 280px;
}

.portfolio-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--white-color);
  background-color: var(--brand-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms var(--transition);
}

.portfolio-item:hover .portfolio-cover-text,
.portfolio-item:focus .portfolio-cover-text {
  transform: translateY(0);
}

.item-content {
  padding: 32px 16px;
  flex-grow: 1;
}

/* Mobile (425px) */
@media screen and (min-width: 425px) {
  .filter-list {
    gap: 16px 24px;
  }
}

/* Tablet and Desktop (768px and up)*/
@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
    gap: 24px;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: 356px;
    height: 420px;
  }

  .portfolio-cover-wrap {
    height: 300px;
  }
}

/* Desktop (1158px and up) */
@media screen and (min-width: 1158px) {
  .filter-container {
    padding: 100px 0 72px;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: 360px;
    flex-basis: calc((100% - 48px) / 3);
  }
}
/*Footer*/
footer {
  background-color: var(--main-color);
  color: var(--white-color);
}

.logo-footer {
  color: var(--white-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 18px;
  display: inline-block;
}

.footer-text {
  color: var(--light-background-color);
  max-width: 264px;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer b {
  display: inline-block;
  font-weight: 500;
  color: var(--white-color);
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subscribe-icon {
  fill: var(--white-color);
}

.subscribe-button {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  border: none;
  background-color: var(--brand-color);
  color: var(--WHITE, #fff);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.64px;
}

.email-input {
  background-color: transparent;
  min-width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}

.email-input:focus,
.email-input:hover {
  border-color: var(--brand-color);
  outline: var(--pressed-color);
  color: white;
}

.email-input::placeholder {
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.subscribe-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* Mobile */
@media screen and (min-width: 428px) {
  .email-input {
    min-width: 398px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .footer-section {
    padding-left: 108px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .subscribe-container,
  .social-content {
    align-items: flex-start;
  }

  .subscribe-wrap {
    flex-direction: row;
    gap: 24px;
  }

  .footer-content {
    align-items: flex-start;
    text-align: justify;
  }

  .email-input {
    min-width: 264px;
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .footer-section {
    padding-left: 0;
  }

  .footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 90px;
  }

  .footer-text {
    width: 265px;
    text-align: start;
  }
}
/*Modal Window*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: visibility 500ms linear, opacity 300ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-500%, -50%);
}
.modal {
  position: absolute;
  padding: 72px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 500ms linear;
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--modal-background-color);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 24px;
  right: 24px;
  background-color: var(--accent-color);
  font-size: 0px;
}
.modal-close-icon {
  fill: var(--main-color);
}
.modal-close:hover,
.modal-close:focus {
  background-color: var(--pressed-color);
}
.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--white-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  color: var(--main-color);
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
}
.modal-input {
  min-width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  font-size: 12px;
  letter-spacing: 0.48px;
}
.modal-input:focus {
  border: 1px solid var(--brand-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--brand-color);
}
.submit-button {
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px transparent;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  min-width: 169px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  line-height: 150%;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.submit-button:hover,
.submit-button:focus {
  background-color: var(--pressed-color);
}
.modal-comment::placeholder {
  color: (46, 47, 66, 0.4);
  font-size: 12px;
  letter-spacing: 0.48px;
}
.modal-comment {
  min-width: 360px;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  letter-spacing: 0.48px;
  resize: none;
}
.modal-comment:focus {
  border: 1px solid var(--brand-color);
}
.label-text {
  color: var(--light-color);
  font-size: 12px;
  letter-spacing: 0.48px;
  display: inline-block;
  margin-bottom: 4px;
}
.modal-icon {
  position: absolute;
  color: var(--main-color);
  transform: translateY(-50%);
  left: 16px;
  top: 50%;
}
.input-wrap {
  position: relative;
}
.modal-label {
  position: relative;
  margin-bottom: 4px;
}
.modal-field {
  margin-bottom: 8px;
}
.check-text {
  font-size: 12px;
  letter-spacing: 0.48px;
  color: var(--light-color);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.check-text::before {
  content: '';
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 8px;
}
.input-check:checked + .check-text::before {
  background-color: var(--pressed-color);
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.input-check:hover + .check-text::before {
  border-color: var(--pressed-color);
  transition: var(--transition);
}
.policy-text {
  text-decoration-line: underline;
  color: var(--brand-color);
  text-decoration-skip-ink: none;
}
